*{
    background-color: #540B51;
    max-width: 2000px;
    font-family: Roboto;
    margin: 20 0;
}

nav{
    display: flex;
    padding: 10px;
    font-weight:bolder;
    max-height: 50px;
}

#logo-links{
    display: flex;
    /* flex-wrap: nowrap;  */
    /* display: inline-block; */
    justify-content: flex-start;
    align-items: flex-start; 
}

#search{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#search-button{
    border-width: 0;
}

#try-button{
    background-color: white;
    color:#540B51;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

nav{
    margin-bottom: 0;
}

nav img{
    width: auto;
    max-height: 40%;
    /* vertical-align: middle; */
}

nav a{
    color: white;
    text-decoration: none;

}

nav ul{
    display: flex;
    gap: 40px;
    margin: 0;
}


nav li{
    list-style-type: none;
    /* padding: 40px; */
}

#nav-hr{
    width:100%;
    border-width: 0.1px;
}

h1{
    color:white;
    font-size: 60px;
    /* float: left;
    max-width: 50%; */
}

header{
    margin-left: 20px;
    margin-right: 100px;
}

#heading-text{
    max-width: 50%;
    float: left;
}

header p{
    margin-top: 200px;
    color: white;
    font-size: 20px;
}

header > div > p > span{
    color: orange;
    font-weight: bold;
}

#screenshot{
    margin-top: 150px;
    max-width: 50%;
    float: right;
}

#sign-up-button{
    background-color: white;
    color:#540B51;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 40%;
    height: 50px;
}

#sign-up-google{
    background-color: #4285F4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 40%;
    height: 50px;
    margin-left: 10px;
}

#sign-up-google img{
    max-height: 100%;
    width: auto;
    background-color: white;
    float: left;
}

#sign-up-google span{
    background: none;
}

#sign-up-container{
    display: flex;

}

#companies{
    margin-top: 700px;
    background-color: #F3EAE2;
    max-height: 500px;
}

#companies img{
    max-height: 50px;
}


/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
